{% extends "base.html" %}
{% block content %}
    <h1>Update Report</h1>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.summary.label }}<br>
            {{ form.summary(size=64) }}<br>
            {% for error in form.summary.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.action.label }}<br>
            {{ form.action(size=64) }}<br>
            {% for error in form.action.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.recommendation.label }}<br>
            {{ form.recommendation(size=64) }}<br>
            {% for error in form.recommendation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
