<table>
    <tr>
        <td>Job #: </td>
        <td>{{ report.id }}</td>
    </tr>
    <tr>
        <td>Customer: </td>
        <td>
            <a href="{{ url_for('main.customer', id=report.customer.id) }}">
               {{ report.customer.customer_name}}
            </a>
        </td> 
    </tr>
    <tr>
        <td>Technician: </td>
        <td>{{ report.author.username }}</td>
    </tr>
    <tr>
        <td>Date and Time: </td>
        <td>{{ report.timestamp }}</td>
    <tr>
        <td>Summary: </td>
        <td>{{ report.summary }}</td>
    </tr>
    <tr>
        <td>Action Taken: </td>
        <td>{{ report.action }}</td>
    </tr>
        <td>Recommendations: </td>
        {% if not report.recommendation %}
        <td>N/A</td>
        {% else %}
        <td>{{ report.recommendation }}</td>
        {% endif %}
    </tr> 
</table>
